<%- include('partials/header') %> 
<section id="about">
<h1 class="about-heading">About JotPad</h1>

<p>Founded in 2023, Jotpad is a platform for readers, writers, and critiques to join together in their love of written works of art. 

<h2>For Story Lovers</h2>
<p>Fiction, non-fiction, fan-fiction; we have it all! Enjoy meaningful stories from people's lives, edge-of-your-seat true crime dramas, fantastical tales of swords and spells, or even a cheesy love story of Chewbacca meeting Ddaenerys Targaryen. Anything that can be imagined could be found on JotPad. </p>

<h2>For Writers</h2>
<p>Share your stories with the world on JotPad. There are no barriers to entry here and no algorithms pushing celebrity authors to the top and burying aspiring authors to the bottom. JotPad takes pride in providing a level playing field for everyone. JotPad's mission is to spread the work of artists big and small to those waiting to discover their undiscovered works of art. </p>

<h2>For 'Critiques'</h2>
<p></p>


</section>

<%- include('partials/footer') %>