<%- include('partials/header') %> 
<section id="about">
<h1 class="about-heading">About JotPad</h1>

<p>Founded in 2023, Jotpad is a platform for readers, writers, and critics to join together in their love of written works of art. </p>
        <!-- Story Lovers Button -->
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
          <h2>For Story Lovers</h2>
        </button>
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="card about-card">
            <p>Fiction, non-fiction, fan-fiction; we have it all! Enjoy meaningful stories from people's lives, edge-of-your-seat true crime dramas, fantastical tales of swords and spells, or even a cheesy love story of Chewbacca meeting Ddaenerys Targaryen. Anything that can be imagined could be found on JotPad. </p>
        </div>
      </div>

      <!-- Writers Button -->
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        <h2>For Writers</h2>
      </button>
    </p>
    <div class="collapse" id="collapseExample2">
      <div class="card about-card">
        <p>Share your stories with the world on JotPad. There are no barriers to entry here and no algorithms pushing celebrity authors to the top and burying aspiring authors to the bottom. JotPad takes pride in providing a level playing field for everyone. JotPad's mission is to spread the work of artists big and small to those waiting to discover their undiscovered works of art. </p>
      </div>
    </div>
    <!-- Critics Button -->
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
        <h2>For 'Critics'</h2>
      </button>
    </p>
    <div class="collapse" id="collapseExample3">
      <div class="card about-card">
        <p>We use the term 'critic' loosely here. JotPad doesn't seek the classical type of corporate-backed critics. Rather, we seek those who hope to help aspiring authors and artists level up. This doesn't mean feedback has to come in the form of unrelenting positivity, as honesty is the root of all improvement. We just ask that all reviewers maintain the spirit of helping each other grow and abide by our terms and conditions. <br><br>
    
            Among the highest priorities on JotPad is allowing writers to recieve feedback on their works. Anyone can comment on or review a Jot using their public username or maintaining anonymity. </p>
      </div>
    </div>














</section>

<%- include('partials/footer') %>