<%- include('partials/header') %>
<section id="intro">
    <div id="title">
        <h1 id="writtenTop">JotPad</h1>
        <div><h2  class="hidden" id="writtenBottom"><i>Jot that down</i></h2></div>
    </div>



</section>



<%- include('partials/footer') %> 