body{
    background-color: #395B50;
    text-align: center;
    color: #F0EBE3;
}

.footer{
    background-color:#E4DCCF;
}

.footer-content{
    padding: 10px 0 0 0;
    color: #395B50;
    font-size: 1.3rem;
    opacity: 50%;   
}

.navbar{
    background-color: #E4DCCF;
    margin: 0;
}

#title{
    padding: 2%;
    height: 200px;
}

#popular h2{
    padding: 25px;
    opacity: 75%;
    font-size: 1.4rem;
}
#about{
    text-align: left;
    margin: 2% 15% 0 5%;
}

#terms{
    margin: 2% 15%;
    text-align: left;
}

#terms h1{
    padding-bottom: 25px;
}

#contact{
    margin: 2% 15% 0 5%;
}

.contact-label{
    padding: 2px 0 10px 0;
}

.contact-info{
    padding-top: 20px; 
    padding-left: 80px;
}

@media (max-width: 450px){
    .contact-info{
        text-align: right;
        position: relative;
        bottom: 40px;
    }
}

.post{
    text-align: left;
    margin: 5%;
    line-height: 2;
}



#post h1{
    padding-bottom: 1rem;
}

.page-heading{
    font-size: 3rem;
    font-weight: 900;
    padding-top: 40px;
}

#about p{
    padding-bottom: 1rem;
}
#about h2{
    font-weight: 700;
}

h3{

    padding-bottom: .75rem;
}

#about button{
    background-color:#5a7684!important;
    border: none;
}
 
#get-started button{
    margin: 1% 1% 1% 1%;
}

.about-card{
    background-color:#395B50!important;
    border: none!important;
}

#writtenTop{    
    font-size: 6rem;
    font-family: mynerve;
}

.block{
    height: 20%; 
}

.hidden{
    display: none;
}

.started{
    padding-top: 30px;
    font-size: 1.5rem;
}

.share{
    font-size: 1.2rem;
}

#postTitle, #postBody, #postAuthor{
    width: 90%;
    margin: auto;
    max-width: 750px;
}

.left{
    text-align: left;
}

hr{
    width: 5%;
    margin: 30px auto 30px auto;
    border-style: dotted hidden hidden hidden;
    border-width: .5rem;
}

@media(max-width: 450px){
    hr{
        border-width: .25rem;
    }
    
}